:root{
    --cinza-escuro: #333;
    --branco: fff;
    --cinza-claro: #ccc;
    --fonte-principal: 'Roboto', sans-serif;
}


.logo {
    display: block; 
    margin: 0 auto; 
    width: 100px; 
    height: auto; 
}

h1 {
    color: var(--cinza-escuro);
    font-size: 24px;
    text-align: center;
    margin-top: 20px; 
    font-family: var(--fonte-principal);
}


.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    font-family: var(--fonte-principal);
}

.input-container label {
    font-weight: bold;
}

.input-container input[type="text"] {
    width: 200px;
    height: 30px; 
    padding: 5px; 
    border: 1px solid var(--cinza-claro);
}

.resultado-container {
    display: flex; 
    justify-content: center; 
    font-family: var(--fonte-principal);
}

.resultado-container div {
    border: none; 
    padding: 10px;
    margin: 0 10px; 
}


footer {
    background-color: var(--branco); 
    color: var(--cinza-escuro);
    text-align: center; 
    padding: 10px 0;
    position: absolute; 
    width: 100%; 
    bottom: 0;
}

.footer-text {
    margin: 0; 
    font-family: var(--fonte-principal);

}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode h1 {
    color: #ffffff;
}

.dark-mode .input-container label {
    color: #ffffff;
}

body.dark-mode footer {
    color: #ffffff;
}

.button-dark-mode {
    position: fixed;
    bottom: 20px;
    left: 20px; 
    background-color: var(--cinza-escuro);
    color: var(--branco);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 9999;
}

.button-dark-mode:hover {
    background-color: #555;
    color: var(--branco);
}

